@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

body {
    margin: 0;
    font-family: 'Cormorant' , serif;
    
    font-size: 16px;
    background-color: #4c3d74;
    color: #FFFFFF;
    line-height: 1.6;
}


/*komenttest*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* container */
.container {
    width: 100%;
    max-width: 1244px;
    margin: 0 auto;
}


/* haeder */
.header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 77px;
    padding-bottom: 77px;
    padding-left: 57px;
    padding-right: 57px;
}
.header__logo {
    line-height: 20px;
    font-size: 18px;
    font-weight: 900;
    color: #FFFFFF;
}
.header__link {
    color: #FFFFFF;
    text-decoration: none;
    position: relative;

    transition: color .2s linear;
}
.header__link:hover {
    color: #af9bc7;
}


/* burger */
.burger {
    width: 55px; /* Ширина бургера */
    height: 30px; /* Высота */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Равномерное распределение полосок */
}
.burger span {
    width: 100%; /* Каждая полоска занимает всю ширину */
    height: 4px; /* Толщина полоски */
    background-color: #FFFFFF; /* Цвет полосок */
}


/* main */
.main {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}
.about {
    color: #FFFFFF;
    width: 100%;
    margin: 0 auto;
}
.subheading__first {
    white-space: nowrap;
    font-size: 13px;
    display: flex;
    justify-content: center;
}
.subheading__second {
    padding-top: 18px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 35px;

    display: flex;
    justify-content: center;
}
.subheading__third {
    width: 60%;
    margin: auto;
    padding-bottom: 25px;
    font-size: 12px;
    line-height: 25px;
}


/* button */
.btn__zapis {
    font-size: 20px;
    font-weight: bold;
    width: 300px;
    height: 60px;
    text-transform: uppercase;

    margin: auto;
    color: #FFFFFF;
    background-color: #A387C4;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    transition: color .2s linear;
    bottom: 0px;
}
.btn__zapis:hover {
    background-color: #af9bc7;
}
.btn__program {
    font-size: 20px;
    font-weight: bold;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px auto;

    border-radius: 30px;
    cursor: pointer;
    transition: color .2s linear;
    border: 3px solid #A387C4;
}
.btn__program:hover {
    background-color: #af9bc7;
}


/* image */
.image__container{
    display: flex;;
    justify-content: center;
}
.image__main{
    margin-bottom: 80px;
    width: 265px;
    height: 265px;
    object-fit: cover;
}


/* offer */
.offer__section {
    background-color: #FFFFFF;
    padding-top: 80px;
}
.offer__info{
    color: #4c3d74;
    text-transform: uppercase;
    font-size: 33px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 40px;

}
.offer{
    background-color: #F2EEF7;
    color: #4C3D74;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: left;
    line-height: 150%;

    padding-left: 30px;
    border-radius: 30px;
    border: 3px solid #4C3D74;
    text-transform: uppercase;
    position: relative;
}
.info__image__left {
    display: flex;
    justify-content: left;
    object-fit: cover;
    position: absolute;
    width: 61px;
    height: 61px;
    margin-left: -40px;
    margin-top: -45px;
}
.info__image__right {
    display: flex;
    justify-content: left;
    object-fit: cover;
    position: absolute;
    width: 58px;
    height: 58px;
    margin-top: -45px;
    margin-left: 230px;
}
.offer__message__first {
    font-size: 20px;
    font-weight: 500;
    padding-top: 40px;
}
.offer__message__second {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 40px;
}
.offer__message__third {
    font-size: 20px;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 95%;
}
.offer__footer{
    color: #4c3d74;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;

    max-width: 75%;
    padding-bottom: 40px;
    margin: 0 auto;
    text-align: center;
}
.info__image__button{
    width: 215px;
    height: 215px;
    display: flex;
    margin: 40px auto 0px auto;
}


/* service */
.service__intro{
    margin: 60px auto 0px auto;
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    display: flex;
    text-transform: uppercase;
    width: 70%;
    line-height: 40px;
}
.service__container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}
.service__text{
    margin-top: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    width: 83%;
    flex-direction: column;
}
.service__img {
    margin-top: 30px;
    margin-right: 7px;
    width: 46px;
    height: 46px;
}


/* vorman */
.vorman__text{
    font-size: 20px;
    line-height: 25px;
    
    margin: 40px auto 0px auto;
    width: 75%;
}
.vorman__header {
    font-size: 33px;
    font-weight: bold;
    text-transform: uppercase;

    gap: 32px;
    max-width: 75%;
    margin: 20px auto 0px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.vorman__header__block{
    flex-basis: 130px; /* Фиксированная ширина блока */
    flex-shrink: 0;  /* Запрещает уменьшение блока */
}
.vorman__header__info {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    gap: 30px;
    max-width: 75%;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: left;
}
.vorman__img__container{
    margin: 40px auto 80px auto;
    width: 303px;
    height: 373px;
    overflow: hidden /* Обрезка изображения за границами контейнера */
}
.vorman__img{
    display: flex;
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обрезает изображение без искажения */
    object-position: bottom;
    filter: brightness(130%);
}


/* program */
.program {
    background-color: #FFFFFF;
    color: #504178;
}
.program__header {
    font-size: 33px;
    font-weight: bold;
    line-height: 38px;

    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto auto 40px auto;
    padding-top: 80px;
    width: 90%;
}
.span__container{
    padding-bottom: 20px;
    padding-top: 20px;
}
.program__span {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 308px;
    height: 3px;
    background-color: #4C3D74;
}
.program__container {
    font-size: 19px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
}
.program__lesson__info{
    margin-left: 53px;
    width: 73%;
}
.program__footer{
    color: #4c3d74;
    font-size: 23px;
    font-weight: bold;
    line-height: 25px;

    max-width: 45%;
    padding-bottom: 40px;
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
}
.btn__program__zapis {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    width: 300px;
    height: 60px;

    margin: auto;
    color: #FFFFFF;
    background-color: #A387C4;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    transition: color .2s linear;
    bottom: 0px;
}
.btn__program__zapis:hover {
    background-color: #af9bc7;
}


/* price */
.price{
    padding-bottom: 70px;
}
.price__main {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto auto 40px auto;
    padding-top: 80px;
}
.price__container{
    width: 314px;
    background-color: #F2EEF7;
    color: #4C3D74;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 70px auto 50px auto;
    padding: 50px 10px 70px 10px;
    border-radius: 30px;
}
.price__header{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: 15px;
    margin-bottom: 10px;
}
.price__info__true{
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 10px;
    line-height: 25px;
}
.price__info__true::before{
    content: "+ "; /* Добавляем плюс перед текстом */
    color: #4C3D74;  /* Цвет плюса */
    font-weight: bold;
    font-size: 30px;
}
.price__info__false{
    font-size: 18px;
 
    text-transform: uppercase;
    padding-left: 10px;
    line-height: 25px;
}
.price__linethrough{
    text-decoration: line-through;
}
.price__info__false::before{
    content: "- ";
    color: #4C3D74;
    font-weight: bold;
    font-size: 30px;
}
.price__lite__footer{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 10px;
    line-height: 25px;
}
.price__lite__footer::after{
    padding-left: 10px;
    content: "6666 Р.";
    font-weight: bold;
    font-size: 25px;
}
.price__img {
    width: 101px;
    height: 101px;
    position: absolute;
    margin-top: -90px;
    margin-left: 220px;
}
.btn__pay {
    font-size: 20px;
    font-weight: bold;
    width: 245px;
    height: 60px;
    text-transform: uppercase;

    position: absolute;
    bottom: -30px;
    right: 35px;
    color: #FFFFFF;
    background-color: #A387C4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    transition: color .2s linear;
}
.btn__pay:hover {
    background-color: #af9bc7;
}
.price__plus__footer{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 10px;
    line-height: 25px;
}
.price__plus__footer::after{
    padding-left: 10px;
    content: "11111 Р.";
    font-weight: bold;
    font-size: 25px;
}
.price__bomba__footer{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 10px;
    line-height: 25px;
}
.price__bomba__footer::after{
    padding-left: 10px;
    content: "33333 Р.";
    font-weight: bold;
    font-size: 25px;
}
.price__footer__img{
    width: 67px;
    height: 67px;
    display: flex;
    margin: 70px auto 40px auto;
}
.price__footer__text{
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;

    display: flex;
    text-align: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.btn__price__footer {
    font-size: 16px;
    font-weight: bold;
    width: 245px;
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 25px auto 25px auto;

    border-radius: 30px;
    cursor: pointer;
    transition: color .2s linear;
    border: 3px solid #A387C4;
}
.btn__price__footer:hover {
    background-color: #af9bc7;
}


/* questions */

.qsn__footer{
    color: #4C3D74;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;

    display: flex;
    align-items: center;
    text-align: left;
    width: 55%;
    margin-left: 140px;
    padding: 25px 0px 25px 0px;
}
.qsn__img{
    position: absolute;
    width: 56px;
    height: 56px;
    margin-left: -70px;
}
.btn__write__qsn {
    font-size: 20px;
    font-weight: bold;
    width: 245px;
    height: 60px;
    text-transform: uppercase;

    color: #FFFFFF;
    background-color: #A387C4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 30px;
    cursor: pointer;
    transition: color .2s linear;
}
.btn__write__qsn:hover {
    background-color: #af9bc7;
}

/* footer */

footer {
    background-color: #251933;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}
.footer__info{
    display: flex;
    flex-direction: column;
    padding: 80px 0px 80px 60px;
    text-align: left;
    line-height: 30px;
}
